@charset "utf-8";
.btn-key {
    width: 60px;
    height: 60px;
    font-size: 30px;
    background-color:seagreen;
    border-style:outset;
    outline:none;
    cursor:crosshair;
}
.btn {
    font-size: 30px;
    margin:5px;
}
#div-keypad {
    background-color: gray;
    border-style: outset;
    margin: 20px auto;
    padding: 20px;
}
#div-keycmd {
    min-width:350px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#header {
    min-width: 350px;
    margin: 20px;
    padding: 20px;
}
#text {
    text-align:center;
    font-size:30px;
}